<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <title>Rollcall</title>
</head>

<body>
    <div class="rollcall-nav">
        <ul class="left-group">
            <li><a href="{{ url_for('index')}}">Home</a></li>
        </ul>
        <div class="right-element">
            <a href="javascript:window.print()">Print</a>
        </div>
    </div>
    <div class="container">
        <h1>Rollcall</h1>
        <div class="main-table">
            <table>
                <tr>
                    <th>Student Name</th>
                    <th>On site</th>
                </tr>
                {% for student in students %}
                {% if student[2] == 1 %}
                <tr class="present-student">
                    <td>{{ student[1] }}</td>
                    <td>{{ "Yes" if student[2] == 1 else "No" }}</td>
                </tr>
                {% else %}
                <tr>
                    <td>{{ student[1] }}</td>
                    <td>{{ "Yes" if student[2] == 1 else "No" }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</body>